<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>ログイン</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
<main>
<form method="POST" action="/login">
<table>
<tr><td colspan="2"><h1>Application</h1></td></tr>
<tr><td>ユーザ名</td><td><input type="text" name="username" size=16 maxlength=16></td></tr>
<tr><td>パスワード</td><td><input type="password" name="password" size=16 maxlength=16></td></tr>

<% if(message) { %>
<tr><td colspan="2" class="message"><%= message %></td></tr>
<% } %>

<tr><td colspan="2"><input type="submit" value="ログイン"></td></tr>
</table>

</form>

</main></body></html>
